
img{max-width:100%;}
 
.body {
  background:url(../images/6.jpg)no-repeat;
  background-size: cover;
   font-family: 'Open Sans', sans-serif;
   font-size: 100%;
}
.search {
  
  text-align: center;
  padding: 16em 0em 0em 0em;
  position: relative;
}
.s-bar {
  width: 34%;
  margin: 0 auto;
  padding: 0.5em 0em 0.5em 0em;
}
.s-bar input[type="text"] {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  padding: 1.3em 1em 1.3em 1.5em;
  width: 70%;
 text-shadow: rgba(80, 80, 80, 0.08) 1px 1px, 
               rgba(80, 80, 80, 0.07) 2px 2px, 
               rgba(80, 80, 80, 0.09) 3px 3px, 
               rgba(80, 80, 80, 0.04) 4px 4px, 
               rgba(80, 80, 80, 0.06) 5px 5px; 
  border-radius: 5px 0px 0px 5px;
 -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  -webkit-appearance: none;
}
.s-bar input[type="submit"]
{
  background:#7ac209; 
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  padding: 1.3em 0.5em;
  width: 22%;
  text-align: center;
  text-shadow: rgba(80, 80, 80, 0.08) 1px 1px, 
               rgba(80, 80, 80, 0.07) 2px 2px, 
               rgba(80, 80, 80, 0.09) 3px 3px, 
               rgba(80, 80, 80, 0.04) 4px 4px, 
               rgba(80, 80, 80, 0.06) 5px 5px;
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  -o-border-radius:0px 5px 5px 0px;
  margin: 0px 0px 0px -4px;
  cursor:pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
  
}

.search i {
  background: url(../images/search.png)no-repeat;
  width: 31px;
  height: 31px;
  display: block;
  position: absolute;
  top: 20%;
  left: 32.2%;
  cursor: pointer;
}

.copyright {
  margin: 15em 0em 0em 0em;
  text-align: center;
}
.copyright p {
  font-size: 0.875em;
  font-weight: 400;
  color: #fff;
}
.copyright p a{
  font-size: 1em;
  font-weight: 400;
  color:#8EDB15;
}
.copyright p a:hover{
	color: #fff;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--meadia quiries start here--*/
@media(max-width:1440px){
.search i {
  left: 29.2%;
}
.s-bar {
  width: 40%;
}
}
@media(max-width:1366px){

}
@media(max-width:1280px){
.copyright {
  margin: 13em 0em 4em 0em;
}
.s-bar input[type="text"] {
  width: 63%;
}
.search i {
  left: 30.2%;
}
}
@media(max-width:1024px){
.s-bar {
  width: 50%;
}
.search i {
  left: 25.2%;
}
.copyright {
  margin: 13em 0em 4.1em 0em;
}
}
@media(max-width:768px){
.copyright {
  margin: 21em 0em 7.2em 0em;
}
.search {
  margin: 20em 0em 0em 0em;
}
.s-bar {
  width: 58%;
}
.search i {
  left: 19.5%;
}
.s-bar input[type="text"] {
  width: 67%;
}
.copyright p {
  font-size: 0.9em;
}
}
@media(max-width:667px){
.search i {
  left: 18.5%;
}	
}
@media(max-width:640px){
.s-bar {
  width: 65%;
}
.search i {
  left: 15.5%;
}	
}
@media(max-width:600px){
.search i {
  left: 14.5%;
}	
}
@media(max-width:568px){
.s-bar input[type="text"] {
  width: 64%;
}	
}
@media(max-width:480px){
.s-bar input[type="text"] {
  width: 55%;
  font-size: 0.8em;	
}
.s-bar input[type="submit"] {
  width: 30%;
  font-size: 0.8em;
}
.search i {
  top: 17%;
}
}
@media(max-width:414px){
.search i {
  top: 16%;
  left: 13.5%;
}	
}
@media(max-width:320px){
.copyright {
  margin: 10.45em 0em 3em 0em;
}
.copyright p {
  font-size: 0.8em;
}
.copyright p {
  font-size: 0.8em;
}
.search {
  padding: 11.25em 0em 0em 0em;
  
}
.s-bar {
  width: 100%;
}
.search i {
  left: 43%;
  top: -36%;
}
.search p {
  font-size: 0.72em;
}
.s-bar input[type="submit"] {
  text-shadow: rgba(80, 80, 80, 0.08) 1px 1px, 
               rgba(80, 80, 80, 0.07) 2px 2px, 
               rgba(80, 80, 80, 0.09) 3px 3px, 
               rgba(80, 80, 80, 0.04) 4px 4px, 
               rgba(80, 80, 80, 0.06) 5px 5px;              
}
}
.searched{
  padding:2em 0 0 0;
}
#main_part{
  width:100%;
  height:100%;
}
.c-container
{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 36%;
    position: relative;
    left: 85px;
}
.c-abstract{
  overflow:hidden;
text-overflow:ellipsis;
display:-webkit-box;
-webkit-box-orient:vertical;
-webkit-line-clamp:2
}
.result_num
{
  position: relative;
  left: 126px;
  font-size: 10px;
  color: whitesmoke;
}

button{
  font-size: 14px;
  background: #7892c2;
  background-image: -webkit-linear-gradient(top, #7892c2, #476e9e);
  background-image: -moz-linear-gradient(top, #7892c2, #476e9e);
  background-image: -ms-linear-gradient(top, #7892c2, #476e9e);
  background-image: -o-linear-gradient(top, #7892c2, #476e9e);
  background-image: linear-gradient(to bottom, #7892c2, #476e9e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 0px 1px 0px #283966;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  font-family: Arial;
  color: #ffffff;
  font-size: 3px;
  border: solid #4e6096 1px;
  text-decoration: none;
  width: 100px;
  height: 34px;
  float: left;
  margin: 10px;
  position: relative;
  left: 80px;
}

button:hover {
  color: #ffffff;
  background: #476e9e;
  text-decoration: none;
}
ol
{
  list-style: none;
}